div.primary_nav_wrap
{
  margin-left: 100px;
  margin-top:40px;
  width:100%;
  height: 50px;
}

.primary_nav_wrap ul
{
  list-style:none;
  float:left;
  margin:10px;
  padding:10px;
  background-color: black;
  position:relative;
}

.primary_nav_wrap ul a
{
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding: 0 95px;
  font-family:serif;;
  text-align: justify;
  font-style: normal;
  cursor: pointer;
}
.primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0;
}
.primary_nav_wrap ul li.current-menu-item
{
  background: green;
}

.primary_nav_wrap ul li:hover
{
  background: #E71317;
}
